@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("MonsterClubhouse"),
    url("./assets/Monster_Clubhouse.ttf") format("truetype");
}
* {
  /*font-family: "Light";*/
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
.container {
  display: block;
  max-width: 1400px;
  width: 95%;
  margin: auto;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
